package dashboard

import "farishadibrata.com/rapidmono/view/base"


templ Index() {
    @base.AuthorizedLayout(){
        DashboardView
    }
}

templ NotificationPage() {
    @base.AuthorizedLayout(){
        Notification Page
    }
}